meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos metodológicos del PFCE
meta(meta name="description" content="El desarrollo de esta unidad temática le permitirá identificar los documentos, soportes e insumos de la evaluación, la estructura de un proyecto y la herramienta de evaluación del Programa de Formación Continua Especializada (en adelante, PFCE).")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")